<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sideproj.protrack"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.sideproj.protrack.Jobs_main"
            android:label="@string/act_job"
            android:id="@+id/jobMainAct" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sideproj.protrack.Add_job"
            android:label="@string/act_addJob"
            android:parentActivityName="com.sideproj.protrack.Jobs_main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sideproj.protrack.Jobs_main" />
        </activity>
    </application>

</manifest>
